body {
  background-color: #EAF6F6;
}

hr {
  background-color: black;
  border-color: grey;
  border-style: dotted none none none ;
  height: 2px;

}

img {
  height: 200px;
}

/* id selector */
#myname:hover {
  text-shadow: 2px 2px red;
}
